html {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.55;
    color: #333A51;
}

#toolbox_main {
    width: 900px;
    height: auto;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #5933cb8e;
}

#link {
    margin-top: 10px;
    width: 430px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    align-content: center;
    resize: none;
    pointer-events: auto;
    user-select: none;
    cursor: default;
    background-color: #7a7a7a;
    border-color: #ffffff;
    border-width: 2px;
}

#link:hover {
    user-select: none; /* Disable text selection on hover */
    width: 430px;
    height: 32px;
    border-width: 2px;
    background-color: #000000;
    color: #ffffff;
    border-color: #5A33CB;
    cursor: default;
}

#copyButton {
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove default border */
}

#title_toolbox{
    font-size: 32px;
    font-weight: 800;
    color: #5A33CB;
}
#title_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-bottom: -50px;
}

ul p::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #c93636;
    transition: all 0.5s;
}

ul p:hover::after {
    width: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.822));
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -2;
}

#v_logo {
    width: 120px;
    top: -50px;
    opacity: 0.85; /* Adjusted opacity value */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    align-items: flex-start;
}

li {
    margin: 0 15px;
}

.home-btn,
.download-btn {
    color: #5A33CB;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
    padding: 2px 2px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #08DC67;
}

.desktop-menu ul li a:hover {
    color: #ff0000;
}

ul li a {
    display: block;
    padding: 20px 0px;
}


.center {
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 800px) {

    .desktop-menu {
        height: auto;
        width: auto;
    }
    #toolbox_main {
        width: 100%; /* Make the toolbox full width */
    }

    #title_toolbox{
        text-align: center;
        padding-right: 32px;
    }

    #link {
        height: auto;
        width: auto;
        visibility: hidden;
    }

    #copyButton{
        visibility: hidden;
    }

}

@media only screen and (max-width: 800px) {
    ul li a {
        visibility: hidden;
    }
}
